{extend name="public/base" /}
{block name="title"}Sign in{/block}
{block name="css"}
<style type="text/css">
		.content{
			max-width: 1290px;
		}
		a{
			color: #fff;
			display: block;
		}
		a:hover{
			text-decoration: none;
		}
		.nav{
			background: #eeeeee;
			margin: 0 auto;
			padding: 5px;
		}
		.row {
		    margin-right: -15px;
		    margin-left: -15px;
		    margin-top: 16px;
		    margin-bottom: 7px;
		}
		.top_r {
		    float: left;
		    margin-bottom: 2%;
		    font-size: 24px;
		    width: 120%;
		}
		.top_l {
		    font-size: 21pt;
		    text-align: center;
		    margin-left:30%;
		    border-left: 1px solid #BBBBBB;
		    border-right: 1px solid #BBBBBB;
		}
				
		.top_r button {
		    margin-right: 3%;
		    font-size: 15pt;
		}
		
		.land {
		    background-image: url(/static/home/image/denglubj.png);
		    background-repeat: no-repeat;
		    background-size: 118%;

		    height: 770px;
		}
		.introduction {
		    margin: 29px 0;
		    withd: 40%^;
		    width:73%;
		    margin-left: 6%;
		}
		.introduction img{
			width: 100%;
			

		}
		.form {
		    padding: 1%;
		    margin-top: 12%;
		    width: 54%;
		    margin-left: 36%;
		    background: #fff;
		    border-radius: 3%;
		}
		.div-bor {
		    position: relative;
		    width: 90%;
		    border-bottom: 1px solid #dddddd;
		    padding:8%;
		    font-size: 15pt;
		}
		.register {
		    width: 94%;
		    border: 1px solid #666;
		}
		.userfo {
		    position: absolute;
		    left: 0；z-index:5;
		    background-size: 100%;
		    font-size: 24pt;
		    margin-left: -8%;
		    background-repeat: no-repeat;
		    background-position: 0px 0px;
		    width: 29px;
		    height: 38px;
		}
		.icon-useron{
			
    	    position: absolute;
		    left: 0;
		    z-index: 5;
		    background-size: 100%;
		    font-size: 24pt;
		    margin-left: 0%;
		    background-repeat: no-repeat;
		    background-position: 0px 0px;
		    width: 35px;
		    height: 54px;
		}
		}
		.icon-userfo {
		    /*background-image: url(../image/icon5.png);*/
		    margin-top: -7px;
		}
		h4 {
		    font-size: 24px;
		    margin: 45px;
		}
		.form button {
		    font-size: 24pt;
		    width: 75%;
		    /* margin: 14% 0; */
		    margin-top: 60px;
		    margin-bottom:68px;
		}
		
		.footer {
		    font-size: 24px;
		    background: #5E5E5E;
		    color: #DDDDDD;
		    text-align: center;
		    padding: 26px;
		    overflow: hidden;
		    clear: both;
		    width: 100%;
		}
	</style>

{/block}
{block name="content"}
	
<!-- 头部编辑 -->
<div class="header">
	<!-- 导航编辑 -->
	<div class="nav">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-2">
				<div class="top_l">
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="top_r">
					<button type="button" class="btn btn-success"><a href="{:url('admin/Admin/index')}">Sign In</a></button>
					<button type="button" class="btn btn-danger"><a href="{:url('admin/Admin/register')}">register</a></button>
				</div>
			</div>
		</div>

	</div>


</div>

<div class="land">
	<div class="row">
		<div class="col-md-6">
			<div class="introduction">
				<img src="/static/home/image/land.png">
			</div>
		</div>
		<div class="col-md-6">
			<form class="form" name="addForm" id="addform" method="post"action="{:url('admin/Admin/land_form')}">
				<h3>Sign in</h3>
				<div class="register">

					<div class="div-bor">
						<i class="icon-useron"></i>
						<input type="text" class="user" name="email"placeholder="email"/>

					</div>


					<div class="div-bor">
						<i class="icon-userfo"></i>
						<input type="text" class="user" name="password" placeholder="Password"/>

					</div>

				</div>
				<button type="submit" class="btn btn-success">Sign in</button>

			</form>

		</div>
	</div>
</div>
<script type="text/javascript">
    $("form[name=addForm]").submit(function(){  //ok
        var formData  = new FormData($('#addform')[0]);
        $.ajax({
            url:" {:url('admin/Admin/land_form')}",
            type:"post",
            data:formData,
            dataType: 'json', //返回的数据类型
            processData:false,// 告诉jQuery不要去处理发送的数据
            contentType:false,// 告诉jQuery不要去设置Content-Type请求头
            success:function(data)//ajax执行后的回调函数
            {
                if (data.status =='0') {
                  layer.msg(data.msg, {icon: 6, time: 1500} ,function(){
                                    window.location.href="http://www.shop.com/index.php/Admin/Index/index";  
                 });

                } else {
                     layer.msg(data.msg, {icon: 5, time: 1500});
                }
            }
        });
        return false;//阻止表单提交
    });
 function checkForm(){ 
  var nametip = checkUserName(); 
  var passtip = checkPassword();  
  var conpasstip = ConfirmPassword(); 
  var phonetip = checkPhone(); 
  var emailtip =checkEmail();
  return nametip && passtip && conpasstip && phonetip && emailtip; 
  } 
  //验证用户名   
  function checkUserName(){ 
  var username = document.getElementById('userName'); 
  var errname = document.getElementById('nameErr'); 
  var pattern = /^\w{3,}$/;  //用户名格式正则表达式：用户名要至少三位 
  if(username.value.length == 0){ 
    errname.innerHTML="用户名不能为空"
    errname.className="error"
    return false; 
    } 
  if(!pattern.test(username.value)){ 
    errname.innerHTML="用户名不合规范"
    errname.className="error"
    return false; 
    } 
   else{ 
     errname.innerHTML="输入正确"
     errname.className="success"; 
     return true; 
     } 
  } 
 
  // 验证邮箱
  function checkEmail(){ 
  var userEmail = document.getElementById('userEmail'); 
  var emailErr = document.getElementById('emailErr'); 
  var pattern = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
  if(!pattern.test(userEmail.value)){ 
  	emailErr.innerHTML="邮箱地址不合规范"
    emailErr.className="error"
    return false; 
    } 
   else{ 
     emailErr.innerHTML="邮箱设置正确"
     emailErr.className="success"; 
     return true; 
     } 
  } 
</script>
{/block}




