{extend name="public/base" /}
{block name="title"}Sign in{/block}
{block name="content"}
<!-- 头部编辑 -->
<div class="header">
	<!-- 导航编辑 -->
	<div class="nav">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-2">
				<div class="top_l">
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="top_r">
					<button type="button" class="btn btn-success"><a href="{:url('admin/Admin/index')}">Sign In</a></button>
					<button type="button" class="btn btn-danger"><a href="{:url('admin/Admin/register')}">register</a></button>
				</div>
			</div>
		</div>

	</div>


</div>

<div class="land">
	<div class="row">
		<div class="col-md-6">
			<div class="introduction">
				<img src="/static/home/image/land.png">
			</div>
		</div>
		<div class="col-md-6">
			<form class="form">
				<h3>Sign in</h3>
				<div class="register">

					<div class="div-bor">
						<i class="icon-useron"></i>
						<input type="text" class="user" placeholder="E-mail"/>

					</div>


					<div class="div-bor">
						<i class="icon-userfo"></i>
						<input type="text" class="user" placeholder="Password"/>

					</div>

				</div>
				<button type="button" class="btn btn-success"><a href="landsuccess.html">Sign in</a></button>

			</form>

		</div>
	</div>
</div>
{/block}




